In [ ]:
n = 5
for i in range(n):
  for j in range(n):
      print(max(i+1, j+1, n-i, n-j), end = " ")
  print( )

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [ ]:
for i in range(n):
  for j in range(n):
      print(i, end = " ")
  print( )

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [ ]:
for i in range(n):
  for j in range(n):
      print(j, end = " ")
  print( )

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [ ]:
for i in range(n):
  for j in range(n):
      print(max(i, j), end = " ")
  print( )

0 1 2 3 4
1 1 2 3 4
2 2 2 3 4
3 3 3 3 4
4 4 4 4 4

In [ ]:
for i in range(n):
  for j in range(n):
      print(n-i, end = " ")
  print( )

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
for i in range(n):
  for j in range(n):
      print(n-j, end = " ")
  print( )

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(n):
  for j in range(n):
      print(max(n-i, n-j), end = " ")
  print( )

5 5 5 5 5
5 4 4 4 4
5 4 3 3 3
5 4 3 2 2
5 4 3 2 1

In [ ]:
for i in range(n):
  for j in range(n):
      print(max(n-j+1, n-i+1), end = " ")
  print( )

6 6 6 6 6
6 5 5 5 5
6 5 4 4 4
6 5 4 3 3
6 5 4 3 2

In [ ]:
for i in range(n):
  for j in range(n):
      print((n-i+1, n-j+1), end = " ")
  print( )

(6, 6) (6, 5) (6, 4) (6, 3) (6, 2)
(5, 6) (5, 5) (5, 4) (5, 3) (5, 2)
(4, 6) (4, 5) (4, 4) (4, 3) (4, 2)
(3, 6) (3, 5) (3, 4) (3, 3) (3, 2)
(2, 6) (2, 5) (2, 4) (2, 3) (2, 2)